body {
  font-family: Poppins, sans-serif;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
}

#transactionDiv {
  display: inline-flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  max-width: 1300px;
  margin: 20px 20px;
  height: max-content;
  align-items: center;
}

#titleContainer {
  margin-right: 10px;
}

#title {
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0;
}

#subtitle {
  font-size: 14px;
  color: #505050;
}

#transactionBtn {
  width: fit-content;
  font-size: 14px;
  text-wrap: nowrap;
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: 500ms;
}

#transactionBtn:active {
  background-color: #343434;
  transform: scale(0.9);
  transition: 0ms;
}

#resumeTotal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: calc(100% - 40px);
  max-width: 1300px;
}

@media (max-width: 900px) {
  #resumeTotal {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  #resumeTotal {
    grid-template-columns: 1fr;
  }
}

.resumeContainer {
  width: 100%;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.resumeTop {
  height: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
}

.resumeBottom {
  height: 50%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.resumeValue {
  font-size: 28px;
  font-weight: 300;
}

img {
  width: 20px;
}

.resumeIcon {
  align-items: center;
  display: flex;
}

#statsDiv {
  grid-gap: 20px;
  width: calc(100% - 40px);
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}

#expenses,
#quickStats {
  height: 350px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.title {
  font-size: 19px;
  font-weight: 400;
}

#expensesGraph {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin: auto;
  position: relative;
}

#whenNoGraph {
  color: #505050;
  font-weight: 300;
  position: absolute;
  margin: auto;
}

.expenseCalc {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 16px;
  color: #505050;
}

#quickStats .title {
  margin-bottom: 25px;
}

.result {
  font-weight: 400;
}

#largestAverage {
  color: red;
}

#incomeAverage {
  color: green;
}

#savingsAverage,
#expenseAverage {
  color: black;
}

@media (max-width: 900px) {
  #statsDiv {
    grid-template-columns: 1fr;
  }

  #quickStats {
    height: max-content;
  }
}

#recentTransactions {
  height: max-content;
  min-height: 250px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: calc(100% - 40px);
  max-width: 1300px;
  margin: 20px 0;
  position: relative;
}

#recentTransactionsTop {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}

#transactions {
  width: fit-content;
  font-size: 14px;
  text-wrap: nowrap;
  border: none;
  background-color: rgba(0, 0, 0, 0.08);
  color: #000000;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: 500ms;
}

#noRecentTransactions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  margin: auto;
}

#transactionWindow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  display: none;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  transform: scale(0);
}

#container {
  background-color: white;
  width: 500px;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  transform: scale(0);
  transition: 200ms;
}

#head {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}

#closeWindow {
  width: 20px;
  height: 20px;
}

.windowContainer {
  width: 100%;
  margin: 10px 0;
}

.windowTitle {
  font-size: 16px;
  font-weight: 500;
}

.inputWindow {
  background-color: rgba(227, 227, 227, 0.37);
  height: 40px;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #797979;
  border-radius: 12px;
  width: calc(100% - 20px);
  margin-top: 10px;
  cursor: pointer;
}

#categoryInput,
#typeInput {
  width: 100%;
}

#addTransactionWindowBtn {
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
}

#windowAmount {
  position: relative;
}

#windowAmountBefore {
  content: "Required";
  width: 100px;
  height: 30px;
  background-color: #ff0000;
  position: absolute;
  top: 53%;
  right: 5px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

#addTransactionWindowBtn:active {
  background-color: #343434;
}

#closeWindow {
  cursor: pointer;
}

#myChart {
  width: 100%;
}
